$color: #e8e8e8;

h1 {
	p {
		color: $color + 10;
		span {
			font-size: 14px;
		}
	}
}

$animals: puma, cat, dog, volf, koala;

@each $animal in $animals {
	.#{$animal}-icon {
		background-image: url("/images/#{$animal}.png");
	}
}


@for $i from 1 through 10 {
  .nav.navbar-nav.section-row > li:nth-child(#{$i}) {background-color: #d0d0d0 }
}

